@use "./fonts" as *;
@use "./colors" as *;

.card {
    border-radius: 25px;
    border: 2px solid $mediumDark;
    width:90vw;
    height: 70vh;

    background-color: $mediumLight;

    font-family: $titles;
}