@use "./fonts" as *;
@use "./colors" as *;

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 3vh;
}

.circle {
    border:1px solid $dark;
    border-radius: 50%;
    width: 12vw;
    height:12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}