//Colors palette
/*
$light: #FAF9EE;
$mediumLight: #ECE0CC;
$lightdark: #d8c00b;
$ligthBlue: #39abc2;
$dark: #165663;


$dark: #DDc6b6;
$mediumLight: #262223;
*/


$dark: #af67a3;
$mediumLight: #262223;
$fonts: #DDc6b6;
