@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Martel:wght@300&family=Nunito&display=swap');


//fonts

$signature:'Marck Script';
$titles: 'Nunito', sans-serif;
$general: 'Martel', serif;

//font sizes

$medium: 4rem;
$small: 2rem;

