@use "./colors" as *;
@use "./fonts" as *;

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

span {
    font-family: $titles;
    font-size: 2rem;
}

.line {
    animation: darker 5.5s 3s;
    animation-fill-mode: forwards;
}

.intro__about-me {
    align-self: flex-start;
    margin-left: 5vw;
    color:$dark;
    width:35vw;
}

.intro__projects {
    color: $dark;
    width:30vw;
}

.intro__get-in-touch {
    align-self: flex-end;
    margin-right: 4vw;
    width:43vw;
    color: $dark;
}

p {
    display: flex;
    justify-content: center;
 }

//About me animation  

.intro__about-me--letter1 {
    animation: appear 0.8s 1s;
    animation-fill-mode: forwards;
}

.intro__about-me--letter2 {
    animation: appear 0.8s 1.8s;
    animation-fill-mode: forwards;
}
.intro__about-me--letter3 {
    animation: appear 0.8s 2.6s;
    animation-fill-mode: forwards;
}
.intro__about-me--letter4 {
    animation: appear 0.8s 3.4s;
    animation-fill-mode: forwards;
}
.intro__about-me--letter5 {
    animation: appear 0.8s 4.2s;
    animation-fill-mode: forwards;
}
.intro__about-me--letter6 {
    animation: appear 0.8s 5s;
    animation-fill-mode: forwards;
}
.intro__about-me--letter7 {
    animation: appear 0.8s 5.8s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        color: $dark;
    }

    100% {
        color: $medium;
    }
}

//Projects animation

.intro__projects--letter1 {
    animation: appearProjects 1.4s 1s;
    animation-fill-mode: forwards;
}

.intro__projects--letter2 {
    animation: appearProjects 1.4s 2.4s;
    animation-fill-mode: forwards;
}

.intro__projects--letter3 {
    animation: appearProjects 1.4s 3.8s;
    animation-fill-mode: forwards;
}

.intro__projects--letter4 {
    animation: appearProjects 1.4s 5.2s;
    animation-fill-mode: forwards;
}

@keyframes appearProjects {
    0% {
        color: $dark;
    }

    100% {
        color: $medium;
    }
}

//get in touch animation

.intro__get-in-touch--letter10 {
    animation: appearGetInTouch 0.5s 1s;
    animation-fill-mode: forwards;
}

.intro__get-in-touch--letter9 {
    animation: appearGetInTouch 0.5s 1.5s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter8 {
    animation: appearGetInTouch 0.5s 2s;
    animation-fill-mode: forwards;
}

.intro__get-in-touch--letter7 {
    animation: appearGetInTouch 0.5s 2.5s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter6 {
    animation: appearGetInTouch 0.5s 3s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter5 {
    animation: appearGetInTouch 0.5s 3.5s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter4 {
    animation: appearGetInTouch 0.5s 4s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter3 {
    animation: appearGetInTouch 0.5s 4.5s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter2 {
    animation: appearGetInTouch 0.5s 5s;
    animation-fill-mode: forwards;
}
.intro__get-in-touch--letter1 {
    animation: appearGetInTouch 0.5s 5.5s;
    animation-fill-mode: forwards;
}
@keyframes appearGetInTouch {
    0% {
        color: $dark;
    }

    100% {
        color: $medium;
    }
}

//Line animation

@keyframes darker {
    from {
        border-bottom: 1px solid $dark;
    }
    to {
        border-bottom: 1px solid $medium;
    }
}