@use "./colors" as *;
@use "./fonts" as *;

.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.projects__title {
    color: $fonts;
    text-align: center;
    margin-top: 2%;
    font-family: "FiraCode-Light";
    font-size: 2rem;
}