@use "./colors" as *;
@use "./fonts" as *;

.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .card {
        width: 30%;
        aspect-ratio: 1 / 1;
        background-color: $dark;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 10px;
    }
}

.projects__title {
    color: $fonts;
    text-align: center;
    margin-top: 2%;
    font-family: "FiraCode-Light";
    font-size: 2rem;
}