@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
.portfolio {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
.portfolio nav {
  justify-content: flex-start;
}
.portfolio .container {
  background-color: #ECE0CC;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 1px solid red;
}
.portfolio .container .card {
  background-color: #ECE0CC;
  border-radius: 5px;
  border: 2px solid #165663;
}
.portfolio .container .container__projects {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 13;
}
.portfolio .container .container__aboutMe {
  grid-column-start: 10;
  grid-column-end: 17;
  grid-row-start: 10;
  grid-row-end: 15;
}
.portfolio .container .container__something {
  grid-column-start: 15;
  grid-column-end: 21;
  grid-row-start: 4;
  grid-row-end: 8;
}
.portfolio .container .singleLetter {
  grid-row: 2/3;
  color: #165663;
  font-family: "Zilla Slab", serif;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}
.portfolio .container .container__title1 {
  grid-column: 3/4;
}
.portfolio .container .container__title2 {
  grid-column: 4/5;
}
.portfolio .container .container__title3 {
  grid-column: 5/6;
}
.portfolio .container .container__title4 {
  grid-column: 6/7;
}
.portfolio .container .container__title5 {
  grid-column: 7/8;
}
.portfolio .container .container__title6 {
  grid-column: 8/9;
}
.portfolio .container .container__title7 {
  grid-column: 9/10;
}
.portfolio .container .container__title8 {
  grid-column: 10/11;
}
.portfolio .container .container__title9 {
  grid-column: 12/13;
}
.portfolio .container .container__title10 {
  grid-column: 13/14;
}
.portfolio .container .container__title11 {
  grid-column: 14/15;
}
.portfolio .container .container__title12 {
  grid-column: 15/16;
}
.portfolio .container .container__title13 {
  grid-column: 16/17;
}
.portfolio .container .container__title14 {
  grid-column: 17/18;
}
.portfolio .container .container__title15 {
  grid-column: 18/19;
}
.portfolio .container .container__title16 {
  grid-column: 19/20;
}
.portfolio .container .container__title17 {
  grid-column: 20/21;
}
.portfolio .container .para {
  -webkit-animation: ballAnimation 9s linear forwards;
          animation: ballAnimation 9s linear forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.portfolio .container .para .ball {
  background-color: #165663;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  justify-self: center;
}
.portfolio .container .para .parachute {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio .container .para .parachute .parachuteCanopy {
  background-color: #165663;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(20%);
  -webkit-animation: hideParachute 1s ease-in-out forwards;
          animation: hideParachute 1s ease-in-out forwards;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.portfolio .container .para .parachute .parachuteCanopy .parachuteCanopy__bit {
  background-color: #39abc2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
  height: 30%;
  width: 49%;
  transform: translateY(20%);
  -webkit-animation: hideParachute 1s ease-in-out forwards;
          animation: hideParachute 1s ease-in-out forwards;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.portfolio .container .para .parachute .parachuteStrings {
  height: 50%;
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.portfolio .container .para .parachute .parachuteStrings .parachuteString__1, .portfolio .container .para .parachute .parachuteStrings .parachuteString__2, .portfolio .container .para .parachute .parachuteStrings .parachuteString__3 {
  width: 1.8px;
  height: 150%;
  background-color: #165663;
  transform: translateY(20%);
  -webkit-animation: hideParachute 1s ease-in-out forwards;
          animation: hideParachute 1s ease-in-out forwards;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.portfolio .container .para .parachute .parachuteStrings .parachuteString__1 {
  transform: rotate(-47deg) translate(-10px);
}
.portfolio .container .para .parachute .parachuteStrings .parachuteString__3 {
  transform: rotate(47deg) translate(10px);
}

@-webkit-keyframes ballAnimation {
  0% {
    transform: rotate(40deg) translate(0, -100%);
  }
  30% {
    transform: rotate(-20deg) translate(10%, 50%);
  }
  60% {
    transform: rotate(20deg) translate(20%, 200%);
  }
  90% {
    transform: rotate(-5deg) translate(30%, 280%);
  }
  100% {
    transform: rotate(0deg) translate(10%, 300%);
  }
}

@keyframes ballAnimation {
  0% {
    transform: rotate(40deg) translate(0, -100%);
  }
  30% {
    transform: rotate(-20deg) translate(10%, 50%);
  }
  60% {
    transform: rotate(20deg) translate(20%, 200%);
  }
  90% {
    transform: rotate(-5deg) translate(30%, 280%);
  }
  100% {
    transform: rotate(0deg) translate(10%, 300%);
  }
}
@-webkit-keyframes hideParachute {
  0% {
    background-color: #165663;
  }
  100% {
    background-color: #ECE0CC;
  }
}
@keyframes hideParachute {
  0% {
    background-color: #165663;
  }
  100% {
    background-color: #ECE0CC;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: #ECE0CC;
  width: 100vw;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */