@use "./colors" as *;

@use "./portfolio-aboutMe" as *;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    background-color: $dark;
    width: 100vw;
    height:100vh;
    color:$medium;
}